<div class='singleProductContainer'>
	<!-- product name container is floating so singleproduct container is only -->
	<div class="product-details-container" ng-controller="AdminController">
		<div class="product-name-container">
			<h1>{{ currentMed.name }}</h1>
			<div class='product-img-container'>
				<img src="{{currentMed.imgPath}}">
			</div>
		</div>
		<form name="editProductForm" id="editProductForm">

			<div>
				<label for="description">Description:</label><br>
				<textarea rows="4" cols="50" name="description" form="editProductForm" ng-model="currentMed.description">
				</textarea>
			</div>

			<div>
				<label for="price">Price</label>
				<input name="price" id="price" ng-model="currentMed.price"> 
			</div>

			<div>
				<label for="stock">Number In Stock</label>
				<input name="stock" id="stock" ng-model="currentMed.inventoryQuantity"> 
			</div>	
			<button ng-click="deleteMed()">Delete</button>		
<!-- 			<input type="submit" value="Submit Edit">
 -->
 			<button ng-click="submitEdit()">Edit</button>
		</form>
	</div>
</div>