<!-- <form id="userSettingsEdit-form" name="userSettingsEditForm" ng-submit="userSettingsEditForm.$valid && signUp(userSettingsEdit)">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="userSettingsEdit.email" class="form-control" id="email" ng-model="theUser.email">
    </div>
    <div class="form-group">
        <label for="userSettingsEdit-password">Password</label>
        <input type="password" ng-model="userSettingsEdit.password" class="form-control" id="userSettingsEdit-password" ng-model="theUser.password">
    </div>
    <button type="submit" class="btn btn-default userSettingsEdit-btn">Submit</button>
</form> -->