.product-img-container {
	//probs not very repsonsive
	width: 100%;
	padding-right: 5px;


}
.product-name-container {
	float: left;
}
.product-details-container {
	padding-left: 10px;
	padding-top: 70px;
	button {
		float: right;
	}
}
