.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 55px 0;
}

.glyphicon-star-empty{
  color: #d17581;
  font-size: 24px;
}  
.glyphicon-star {
  color: #d17581;
  font-size: 24px;
}