<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="row">
                <div class="col-xs-3">
                    <h5>Date Ordered</h5>
                    <p>{{order.dateClosed.slice(0, 10)}}</p>
                </div>
                <div class="col-xs-3">
                    <h5>Shipping Status</h5>
                    <p ng-if="order.isShipped">Shipped</p>
                    <p ng-if="!order.isShipped">Pending</p>
                </div>
                <div class="col-xs-3">
                    <h5>Order Status</h5>
                    <p ng-if="order.isClosed">Closed</p>
                    <p ng-if="!order.isClosed">Active</p>
                </div>
                <div class="col-xs-3">
                    <h5>Total</h5>
                    <p>{{TotalPrice() | currency}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div ng-repeat="item in order.cart" > 
            <div class="row">
                <div class="col-xs-2"><img class="img-responsive" src="{{item.imgPath}}" ng-click="goToProduct(item.product._id)">
                </div>
                <div class="col-xs-4" >
                    <h4 class="product-name"><strong ng-click="goToProduct(item.product._id)">{{item.name}}</strong></h4><h4><small></small></h4>
                </div>

                <div class="col-xs-6">
                    <div class="col-xs-6 text-right">
                        <span><strong>{{item.price | currency}}</strong></span>
                    </div>

                </div>
            </div>
            <div class="profile-userbuttons">
                <span class="pull-right">Subtotal: {{ item.quantity }}</span>
                <span class="pull-right"> Amt: {{ item.price * item.quantity | currency }}</span>
            </div>
            <hr>
        </div>
    </div>
</div>