<div class="product-directive" ng-click='goToProduct()'>
	<div class="product-img">
		<img src="{{ product.imgPath }}">
	</div>
	<div class="product-text">
		<div class="product-name">
			<p> Name: {{ product.name }}</p>
		</div>

		<div class="product-price">
		   <p> Price: {{ product.price }} </p>
		</div>
		<div class="product-quantity">
			<p> Quantity: {{ product.inventoryQuantity }}</p>
		</div>
		<button class="btn btn-default" id="admin-edit" ng-show="adminLoggedIn" ng-click="editProduct()">Admin</button>
	</div>
</div>